#passwordholder{
    width:90%;
    margin-bottom: 20px;
    
}
ul{
 list-style: none;
}
#textInput{
    width: 34px;
}
body{
    background-color: gray;
    height: 100vh;
}
.container{
    background-color: #cccccc;
    padding-bottom: auto;
    height: 100vh;
}
#passbox{
    display: none;
}